/* Footer */
footer {
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 30;
    img {
        width: 120px;
        
    }
    
}